<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addNameServlet</servlet-name>
        <servlet-class>com.learning.servlet.addNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allNameServlet</servlet-name>
        <servlet-class>com.learning.servlet.allNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeNameServlet</servlet-name>
        <servlet-class>com.learning.servlet.removeNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNameServlet</servlet-name>
        <url-pattern>/addNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allNameServlet</servlet-name>
        <url-pattern>/allNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeNameServlet</servlet-name>
        <url-pattern>/removeNameServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
